
 /* Container for overall layout */
   .container1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  } 

  
  /* Row for main content */
  .row {
    display: flex;
    flex: 1;
    width: 100%;
    flex-wrap: wrap;
  }
  
  /* Column styles */
  .column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-width: 300px;
  }
  
  /* Image Column */
  .image-column {
    position: relative;
    flex: 1;
    
    margin:none;
    padding:none;
  }
  
   .background-image {
    width: 100%;
    height: 450px;
    object-fit: cover;
  } 
   
  /* Contact Box */
  .contact-box {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    background: rgba(247, 242, 231, 0.9);
    padding: 20px 30px;
    text-align: center;
    color: #e265a4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(32, 142, 252, 0.2);
  }

 
  
  .contact-box p {
    margin: 0;
    font-size: 16px;
  }
  
  .contact-box h2 {
    margin: 10px 0 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Info Column */
  .info-column {
    background: #181818;
    padding:0px;
    text-align: center;
    height: 488px;
    width:744px;
  }
  
  .info-column h5 {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ff004d;
    margin-bottom: 10px;
  }
  
  .info-column h1 {
    color:white;
    font-size: 28px;
    margin: 10px 0 30px;
    line-height: 1.4;
  }
  
  /* Features Section */
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .feature-box {
    background: #2a2a2a;
    color:white;
    padding: 15px;
    border-radius: 10px;
    width: 45%;
    text-align: center;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
    min-width: 150px;
  }
  .feature-box :hover{
    background: brown;
    cursor: pointer;
  }
  
  .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature-box p {
    margin: 0;
    font-size: 16px;
  }
  .features h3{
    padding-bottom: 20px;
  }
.sec3{
  padding-bottom: 65px;

}
 
  

  .contact-box {
    animation: zoom-in-zoom-out 3.2s ease-in-out infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 768px) {

  .info-column{
    height: 100%;
    width: 100%;
    margin-bottom: 1rem;
  }
  .container1 {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .column {
    padding: 10px;
    flex: 1 1 100%;
    min-width: unset;
  }

  .background-image {
    height: 250px;
    object-fit: cover;
  }

  .contact-box {
    top: 10%;
    left: 30%;
    width: 40%;
    padding: 5px 0px;
  }

  .info-column h1 {
    font-size: 22px;
  }

  .features {
    flex-direction: grid;
    gap: 15px;
  }

  .feature-box {
    width: 90%;
  }
}
  


