.item1 {
  background: aliceblue;
  text-align: center;
  padding: 60px;
  height:220px;
  border-radius: 20pxn;
}
.aboutcompany{
  text-align: justify;
  background-color:aliceblue;
  border-radius: 20px;
  padding:20px;
}

.iso img{
  width:100%;
 height:480px;
 border:2px solid black; 
}

.aboutimg {
  position: relative;
}

.banner2 img {
  width: 70%;
  height: auto;
}

.banner2 {
  text-align: end;

}
.banner1 img {
  top: 14%;
  width: 53%;
  height: 420px;
  position: absolute;
}

.banner3 img {
  padding-left: 93px;
    top: 29%;
    width: 68%;
    height: 425px;
    position: absolute;
}


.item1:hover {
  background: red;
  border-radius: 10px;

}

.item1:hover {
  cursor: pointer;

}

.item1:hover {

  background: red;

  transform: scale(1.1);
  transition: all 0.3s ease-in-out; /* Smooth transition */
}


.section2 {
  border: aliceblue;

}

.best-quality:hover{
    transform: rotateX(360deg);
   /* transform: scale(1.2); */
   transition: 2s;

}
 
/* 
.best-quality:hover {
  transform: rotate(-50deg); /* Rotates the image 50 degrees to the left */
  /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5); Adds a soft shadow */
   /* transition: transform 0.5s ease, box-shadow 0.5s ease; */
 /* }  */

.best-quality {
  margin: 40px;
  background: aliceblue;
  display: flex;
  height: 80px;
  padding: 20px;


}

.logic:hover {
 transform: rotateX(20deg);
 transition: 2s;
}
.about-flex {
  display: flex;
}

.font{
text-align:justify;
padding:20px;
}

.contact-box1 {
  position: absolute;
  top: 20%;
  left: 52%;
  transform: translate(-50%, -50%);
  /* background: rgba(247, 242, 231, 0.9); */
  padding: 20px 30px;
  text-align: center;
  color: #ffffff;
  /* border-radius: 8px; */
  /* box-shadow: 0 4px 10px rgba(32, 142, 252, 0.2); */
}

.text-start {
  text-align: center ! important;
}

.contact-box1 p {
  margin: 0;
  font-size: 16px;
}

.contact-box1 h2 {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: bold;
}


.contact-box1 {
  animation: zoom-in-zoom-out 3.2s ease-in-out infinite;
}


.about-sec {
  margin: 2rem;
}


@media only screen and(min-width:0) and (max-width:576px) {
  .banner1 {
    border-radius: 20px;
  }
  .sec3 p {
    display: none;
  }

  .about-flex {
    margin: 40px;
    background: aliceblue;
    display: grid;
    justify-items: center;
    height: 100%;
    padding: 20px;
  }
}

@media only screen and (max-width:768px) {
  .contact-box1 h2{
    font-size: 16px;
  }
  .contact-box1{
    top: 13%;
    left: 52%;
  }

  .banner1 img , .banner3 img {
    height: 100%;
  }

  .about-content-sec{
    margin-top: 5rem;
  }
  
  .item1 {
    margin-bottom: 1rem;
    padding: 20px;
    width: 100%;
    height: 95%;
  }

  .item1 h4{
    font-size: 12px;
    margin-top: 1rem;
  }

  .sec2 {
    padding: 0;
    display: flex;
  }

  .about-flex {
    display: grid;
  }

  .about-sec {
    margin: 1rem;
  }

  .info-column {
    width: 100%;
    height: 100%;
  }

}


@media only screen and (max-width:768px) {

  .best-quality {
    justify-items: center;
    margin: 0px;
    background: aliceblue;
    display: grid;
    height: 100%;
    padding: 20px;
  }

  .best-quality img {
    width: 50%;
    gap: 10px;
  }

  .about-flex {
    gap: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .font{
    padding:0px;
    }

}

@media only screen and(min-width:769px) and (max-width:992px) {
  .best-quality {
    /* align-items: center; */
    justify-items: center;
    margin: 40px;
    background: aliceblue;
    /* display: flex
; */
    display: grid;
    height: 100%;
    padding: 20px;
  }


}

@media only screen and(min-width:993) and (max-width:1200px) {
  .card-title {
    height: 50px;
  }



  .card-text {
    height: 80px;
  }

}

@media only screen and(min-width:1201) and (max-width:1919) {
  .card-title {
    height: 100px;
  }

  .card-text {
    height: 180px;
  }

}