.item1 {
  background: aliceblue;
  text-align: center;
  padding: 60px;
}

.aboutimg {
  position: relative;
}

.banner2 img {
  width: 70%;
  height: auto;
}

.banner2 {
  text-align: end;

}


.banner1 img {
  top: 28%;
  width: 68%;
  height: auto;
  position: absolute;
}

.item1:hover {
  background: red;
  border-radius: 10px;

}

.item1:hover {
  cursor: pointer;

}

.section2 {
  border: aliceblue;

}


.best-quality {
  margin: 40px;
  background: aliceblue;
  display: flex;
  height:80px;
  padding:20px;
  

}
.about-flex{
  display:flex;
}

.contact-box1 {
  position: absolute;
  top: 53%;
  left: 52%;
  transform: translate(-50%, -50%);
  background: rgba(247, 242, 231, 0.9);
  padding: 20px 30px;
  text-align: center;
  color: #657ce2;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(32, 142, 252, 0.2);
}

.text-start {
  text-align: center ! important;
}

.contact-box1 p {
  margin: 0;
  font-size: 16px;
}

.contact-box1 h2 {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: bold;
}


.contact-box1 {
  animation: zoom-in-zoom-out 3.2s ease-in-out infinite;
}


.about-sec {
  margin: 2rem;
}


@media only screen and(min-width:0) and (max-width:576px) {
  .banner1 {
    border-radius: 20px;
 
  }
  .about-flex{
    display: grid;
  }
  .sec3 p {
    display: none;
  }

  .about-flex {
    margin: 40px;
    background: aliceblue;
    display: grid;
    justify-items: center;
    height: 100%;
    padding: 20px;
  }



}

@media only screen and (max-width:768px) {
  .item1 {
    margin-bottom: 1rem;
  }
  .about-flex{
    display: grid;
  }

  .about-sec {
    margin: 1rem;
  }

.info-column{
  width: 100%;
  height: 100%;
}

}


@media only screen and (max-width:768px){

  .best-quality {
    justify-items: center;
    margin: 40px;
    background: aliceblue;
    display: grid;
    height: 100%;
    padding: 20px;
}

.best-quality img{
  width:50%;
  gap:10px;
}

.about-flex{
  gap:10px;
  margin-bottom: 10px;
}


}

@media only screen and(min-width:769px) and (max-width:992px) {
  .best-quality {
    /* align-items: center; */
    justify-items: center;
    margin: 40px;
    background: aliceblue;
    /* display: flex
; */
    display: grid;
    height: 100%;
    padding: 20px;
}


}

@media only screen and(min-width:993) and (max-width:1200px) {
  .card-title {
    height: 50px;
  }
  


  .card-text {
    height: 80px;
  }

}

@media only screen and(min-width:1201) and (max-width:1919) {
  .card-title {
    height: 100px;
  }

  .card-text {
    height: 180px;
  }

}