/* CSS in App.css */
/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
} */
.oldStamp{
  background:lightslategray;
  padding-top:100px;
}
.sec3{
  padding-bottom: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(33.333% - 20px);
  max-width: 300px;
  text-align: center;
  transition: transform 0.2s;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 350px;
  object-fit: fill;

  object-fit: cover;
}

.product h3 {
  margin: 15px 0 10px;
  font-size: 1.2em;
}

.product p {
  color: #555;
  font-size: 0.9em;
  margin: 0 10px 15px;
}

.product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 1em;
}

.product button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .product {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product {
    width: 100%;
  }
}
